<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>Home Page</title></head>
<link rel="stylesheet" type="text/css" href="../static/css/button.css">

<body style="background-color: beige;margin-left: 35%;margin-top: 250px;">

<h1>Welcome to Mini Bank Application!</h1>


<p class="text-center">If you already have a bank account:
    <button id="deposit">
    <a class="example_b" href="/deposit">Deposit</a>
    </button>
    <button id="withdraw">
    <a href="/withdraw">Withdraw</a>
    </button>
    <button id="remove_client">
    <a href="/removeClient">Delete Account</a>
    </button>
</p>

<p class="text-center">If you don't have one, register here
    <button id="new_client">
    <a href="/addClient">New Client</a>
    </button>
</p>

<p class="text-center">If you are a bank manager
    <button id="new_bank">
    <a href="/addBank">New Bank</a>
    </button>
    <button id="remove_bank">
    <a href="/removeBank">Delete Bank</a>
    </button>
</p>

</body>
</html>

