<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>Home Page</title></head>
<body style="background-color:lightpink;margin-left: 40%;margin-top: 400px;">

<h1>Welcome to Mini Bank Application!</h1>


<p class="text-center">If you already have a bank account:
    <button>
    <a href="/deposit">Deposit</a>
    </button>
    <button>
    <a href="/withdraw">Withdraw</a>
    </button>
    <button>
    <a href="/removeClient">Delete Account</a>
    </button>
</p>

<p class="text-center">If you don't have one, register here
    <button>
    <a href="/addClient">New Client</a>
    </button>
</p>

<p class="text-center">If you are a bank manager
    <button>
    <a href="/addBank">New Bank</a>
    </button>
    <button>
    <a href="/removeBank">Delete Bank</a>
    </button>
</p>

</body>
</html>

