<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clients list</title>
</head>
<body>

    <table>
        <thead>
        <tr>
            <th> CNP </th>
            <th> Client name </th>
            <th> Balance RON </th>
            <th> Balance EURO </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${clientsLIST.empty}">
            <td colspan="2"> No Clients Available </td>
        </tr>
        <tr th:each="client : ${clientsLIST}">
            <td><span th:text="${client.CNP}"> CNP </span></td>
            <td><span th:text="${client.clientName}"> Client name </span></td>
            <td><span th:text="${client.RON}"> Balance RON </span></td>
            <td><span th:text="${client.EURO}"> Balance EURO </span></td>
        </tr>
        </tbody>
    </table>

    <div style="margin-top: 50px">
        <a href="/">
            <button>HOME</button>
        </a>
    </div>
</body>
</html>