<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete a bank</title>
</head>
<body>

<div class="container">
    <form method="post" modelAttribute="name" class="form-removebank" action="/removeBank">
        <h2 class="form-removebank-heading" >Remove a bank</h2>
        <div class="form-group ${error != null ? 'has-error' : ''}">
            <input name="name" type="text" class="form-control" placeholder="Name:"
                   autofocus="true"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Delete</button>
        </div>

    </form>
</div>

</body>
</html>